This is <code>main.html.erb</code>. Welcome.

<form method="post" action="/calculate">
  <input name="a">
  <select name="dropdown">
    <option value="plus">+</option>
    <option value="minus">-</option>
    <option value="multiply">*</option>
    <option value="divide">/</option>
    <option value="exponent">^</option>
  </select>
  <input name="b"><br>
  <input type="submit" value="Do it">
</form>
<br>
Answer: <b><%= @answer %></b>
