This is <code>main.html.erb</code>. Welcome.

<form method="post" action="/calculate">
  <input name="a"> + <input name="b"><br>
  <input type="submit" value="Do it">
</form>
<br>
Answer: <b><%= @answer %></b>
